
* {
    font-family: Helvetica, Arial, sans-serif;
    color: seashell;
    background-color: rgba(0, 0, 0, .9);
    margin: 0;    
}

body {
    font-size: 22px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav__bar {
    width: 100%;
    height: 69px;
    position: fixed;
    z-index: 1;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
}

.logo {
    height: 50px;
    padding-left: 10px;
}

.menu {
    text-align: right;
    flex-grow: 1;
    display: block;
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 20px 10px;
    list-style: none;
}

.banner {
    height: 700px;
    width: auto;
    background-image: url(images/img-mission-background.jpg);
    background-repeat: no-repeat;
    padding-top: 70px;
}

.banner .motto {
    background-color: black;
    width: 100%;
    margin: auto;
    
}

h2, h4 {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.tea__month {
    height: 700px;
    width: 1000px;
    padding: 70px;
    margin: auto;    
}

.image-box {
    padding: 5px;
}

.image-box img {
    height: 200px;
    margin: 10px;
    
}

.image-caption {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}